<!DOCTYPE html>
<html>
<head>
    <title>Pre Launch Landing</title>

    <link rel="stylesheet" type="text/css" href="/build/css/prelaunch.css">

</head>
<body>

<div class="top-landing">

    <h1 class="title">Soon...</h1>

    <h2 class="subtitle">MatScript: Javascript for mathmatical computation and collaboration.</h2>

    <div class="landing-contact">
    
<!-- Begin MailChimp Signup Form -->
<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"> -->
<form action="//calculingua.us7.list-manage.com/subscribe/post?u=402c296f214ab31006c434e3e&amp;id=4207860ce9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Please enter your email">
    <!-- <input type="submit" value="Subscribe" name="subscribe" class="button"></div> -->
    <button id="mc-embedded-subscribe" >Submit</button>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_402c296f214ab31006c434e3e_4207860ce9" tabindex="-1" value=""></div>
</form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->


    </div>

    <div class="top-landing-back-wave">
    </div>
    <div class="top-landing-front-wave">
        <div class="greek-chars">
            <img src="/img/greek-chars-cut.png">
        </div>
        <div class="social-icons">
            <a href=""><img class="social-icon facebook-icon" src="/img/facebook-white.png"></a>
            <a href=""><img class="social-icon twitter-icon" src="/img/twitter-white.png"></a>
        </div>
    </div>
</div>

Here is some more text.

</body>
</html>