<!DOCTYPE html>
<html>
<head>
    <title>Pre Launch Landing</title>

    <link rel="stylesheet" type="text/css" href="/build/css/prelaunch.css">

</head>
<body>

<div class="top-landing">

    <h1 class="title">Soon...</h1>

    <h2 class="subtitle">MatScript: Javascript for mathmatical computation and collaboration.</h2>

    <div class="landing-contact">
        <form>
            <input type="text" placeholder="Please enter your email">
            <button>Submit</button>
        </form>
    </div>

    <div class="top-landing-back-wave">
    </div>
    <div class="top-landing-front-wave">
        <div class="greek-chars">
            <img src="/img/greek-chars-cut.png">
        </div>
        <div class="social-icons">
            <a href=""><img class="social-icon facebook-icon" src="/img/facebook-white.png"></a>
            <a href=""><img class="social-icon twitter-icon" src="/img/twitter-white.png"></a>
        </div>
    </div>
</div>

Here is some more text.

</body>
</html>